.md-grid {
    max-width: 1440px;
}

.icon-round {
    position: relative;
    top: 10px;
    border-radius: 50%;
    width: 36px;
}

.big-icon-round {
    position: relative;
    top: 10px;
    border-radius: 50%;
    width: 58px;
}

.banner-overlay:hover {
    transform: scale(.98);
}